{% load static %}

<!DOCTYPE html><html lang="zxx"><head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>StockFex - A service you can trust</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">

</head>

<body class="darker-blue">
    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div> -->

    {% include './includes/navbar.html' %}
    {% block content %}{% endblock %}


    

    

    

    <!-- ##### FAQ & Timeline Area Start ##### -->
    <div class="faq-timeline-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="section-heading">
                        
                        <div class="dream-dots wow fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Frequently Asked Questions</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s" style="margin-left:0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                    </div>

                    <div class="dream-faq-area">
                        <dl>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.2s">
                                What is the Stockfex Security Guarantee?</dt>
                            <dd class="wow fadeInUp" data-wow-delay="0.3s">
                                <p>Under the Stockfex Security Guarantee, we will cover losses in any of your accounts due to unauthorized activity.</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.3s">What kind of investment products does Stockfex offer?</dt>
                            <dd>
                                <p>We offer a variety of products to help you achieve your main goal of winning, you can reach out to our help center for more information.</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.4s">What is the pre-sale start date?</dt>
                            <dd>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore omnis quaerat nostrum, pariatur ipsam sunt accusamus enim necessitatibus est fugiat, assumenda dolorem, deleniti corrupti cupiditate ipsum, dolorum voluptatum esse error?</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.5s">how may I take part in pre-sale?</dt>
                            <dd>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore omnis quaerat nostrum, pariatur ipsam sunt accusamus enim necessitatibus est fugiat, assumenda dolorem, deleniti corrupti cupiditate ipsum, dolorum voluptatum esse error?</p>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-12 col-lg-5 offset-lg-1 col-md-8 offset-md-2 col-sm-10 offset-sm-1">

                    <div class="ico-counter">
                        <div class="counter-down">

                            <div class="content">
                                <div class="conuter-header">
                                    <h3 class="text-center">TOKEN SALE ENDS IN</h3>
                                </div>
                                <div class="counterdown-content">
                                    
                                   <!-- <div class="ico-sales-status mb-15 o-hidden">
                                        <div class="pull-left">
                                            <h3 class="dollar-earning">$7,575,357</h3>
                                            <p style="padding-left:10px">Worth of DREAM tokens</p>
                                        </div>
                                        <div class="pull-right">
                                            <h3 class="btc-earning">9.764 <span>BTC</span></h3>
                                            <p>BTC Raised</p>
                                        </div>
                                    </div> -->
                                    <!-- Countdown  -->
                                    <div class="count-down titled circled text-center">
                                        <div class="simple_timer"></div>
                                    </div>
                                    <div class="ico-progress">
                                       <ul class="list-unstyled list-inline clearfix mb-10">
                                          <li class="title">33m</li>
                                          <li class="strength">75m</li>
                                       </ul>
                                       <!-- skill strength -->
                                       <div class="current-progress">
                                          <div class="progress-bar has-gradient" style="width: 75%"></div>
                                       </div>
                                       <span class="pull-left">Softcap in 103 days</span>
                                       <span class="pull-right">Token Hardcap</span>
                                    </div>
                                    <div class="text-center">
                                        <a href="#" class="button mt-30">Buy More Tokens</a>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="ico-docs">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="doc-element">
                                    <a class="document-entry" href="#" target="_blank"><span class="title">WhitePaper</span></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="doc-element">
                                    <a class="document-entry" href="#" target="_blank"><span class="title">OnePager</span></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="doc-element">
                                    <a class="document-entry" href="#" target="_blank"><span class="title">Rating Review</span></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="doc-element">
                                    <a class="document-entry" href="#" target="_blank"><span class="title">Marketing Plan</span></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- ##### FAQ & Timeline Area End ##### -->

    <!-- ##### token-distribution Area start ##### -->
    <section class="token-distribution">
        <div class="container">
            
            <div class="section-heading text-center">
                
                <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our ICO Distribution</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 class="text-center mb-30">Token Allocation</h2>
                <div class="token-allocation">
                    <img draggable="false" src="images/allocation.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="token-info-wapper"></div>
                <h2 class="text-center mb-30">More Token Info</h2>
                <div class="token-info">
                    <div class="info-wrapper">
                        <div class="token-icon" style="background-image: url('images/token-icon-1.svg');"></div>
                        <div class="token-descr">Lorem ipsum dolor sit amet, conse ctetur elit</div>
                    </div>
                </div>
                <div class="token-info">
                    <div class="info-wrapper">
                        <div class="token-icon" style="background-image: url('images/token-icon-2.svg');"></div>
                        <div class="token-descr">Sed quis accumsan nisi Ut ut felis</div>
                    </div>
                </div>
                <div class="token-info">
                    <div class="info-wrapper">
                        <div class="token-icon" style="background-image: url('images/token-icon-3.svg');"></div>
                        <div class="token-descr">felis congue nisl hendrerit commodo</div>
                    </div>
                </div>
                <div class="token-info" style="margin-bottom:0">
                    <div class="info-wrapper">
                        <div class="token-icon" style="background-image: url('images/token-icon-4.svg');"></div>
                        <div class="token-descr">arch nemo sequi rem saepe ad quasi ullam.</div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- ##### token-distribution Area End ##### -->

    
    <!-- ##### Team Area Start ##### -->
    <section class="our_team_area section-padding-0-0 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        
                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Awesome Team</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img draggable="false" src="images/1_1.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Sunny khan</h5>
                            <p>Executive Officer</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>


                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img draggable="false" src="images/2_2.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Ajoy Das</h5>
                            <p>Business Development</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img draggable="false" src="images/3_3.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Afroza Mou</h5>
                            <p>UX/UI Designer</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img draggable="false" src="images/4_2.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Lim Sarah</h5>
                            <p>Head of Marketing</p>
                        </div>
                        <!-- Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->

    <!-- ##### Our partners Area start ##### -->
    <section class="partners">

        <div class="section-heading text-center">
            
            <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Awesome Partners</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/1_3.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/2_3.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/3_1.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/4_1.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/5_2.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/6_2.png" alt="" class="center-bock">
                    </div>
                </div>
                
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/7.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/8.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/9.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/10.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/11.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="images/12.png" alt="" class="center-bock">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Our partners Area start ##### -->


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(images/pattern.png);">

        <!-- ##### Contact Area Start ##### -->
        <div class="contact_us_area" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            
                            <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Contact With Us</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="contact_form">
                            <form action="#" method="post" id="main_contact_form" novalidate="">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="success_fail_info"></div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="group wow fadeInUp" data-wow-delay="0.2s">
                                            <input type="text" name="name" id="name" required="">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Name</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="group wow fadeInUp" data-wow-delay="0.3s">
                                            <input type="text" name="email" id="email" required="">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                            <input type="text" name="subject" id="subject" required="">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group wow fadeInUp" data-wow-delay="0.5s">
                                            <textarea name="message" id="message" required=""></textarea>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                                        <button type="submit" class="btn dream-btn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Contact Area End ##### -->

        <div class="footer-content-area " style="background: url(images/bg-2.png) center;">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-12 col-md-5">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text wow fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img draggable="false" src="images/logo.png" alt="logo"> DigiTrader.</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad, a eaque officiis eligendi blanditiis odio necessitatibus.</p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.2s">
                                <h5>NAVIGATE</h5>
                                <a href=""><p>Advertisers</p></a>
                                <a href=""><p>Developers</p></a>
                                <a href=""><p>Resources</p></a>
                                <a href=""><p>Company</p></a>
                                <a href=""><p>Connect</p></a>
                            </div>
                            <!-- Content Info -->
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.3s">
                                <h5>PRIVACY &amp; TOS</h5>
                                <a href=""><p>Advertiser Agreement</p></a>
                                <a href=""><p>Acceptable Use Policy</p></a>
                                <a href=""><p>Privacy Policy</p></a>
                                <a href=""><p>Technology Privacy</p></a>
                                <a href=""><p>Developer Agreement</p></a>
                            </div>
                            <!-- Content Info -->
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p>Mailing Address:xx00 E. Union Ave</p>
                                <p>Suite 1100. Denver, CO 80237</p>
                                <p>+999 90932 627</p>
                                <p>support@yourdomain.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'frontend/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'frontend/js/plugins.js' %}"></script>
    <!-- Parallax js -->
    <script src="{% static 'frontend/js/dzsparallaxer.js' %}"></script>

    <script src="{% static 'frontend/js/jquery.syotimer.min.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'frontend/js/script.js' %}"></script>



</body></html>