{% load static %}

<!DOCTYPE html><html lang="zxx"><head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>StockFex - A service you can trust</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}">

</head>

<body class="darker-blue">
    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div> -->

    {% include './includes/navbar.html' %}
    {% block content %}{% endblock %}


    




    

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'frontend/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'frontend/js/plugins.js' %}"></script>
    <!-- Parallax js -->
    <script src="{% static 'frontend/js/dzsparallaxer.js' %}"></script>

    <script src="{% static 'frontend/js/jquery.syotimer.min.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'frontend/js/script.js' %}"></script>



</body></html>