{% extends './base.html' %}
{% load static %}

{% block content %}

<style>
    .container-fluid{
        margin-top: 170px !important;
    }
    .bg-dark{
        background: #141414 !important;
    }
    .btn-primary{
        background-color: rgb(30, 30, 116) !important;
        border: none;
        outline: none;
    }

    .btn-primary:hover{
        background-color: rgb(45, 45, 177) !important;
  
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card bg-dark">
                <div class="card-body">
                    <h4 class="text-center mb-3">Sign Up</h4>
                    {% include '../account/includes/alert.html' %}
                    {% include '../myadmin/form_errors.html' %}

                    {% if profile_form.errors %}
                        <p class="text-white fw-bold">Please correct the following errors:</p>
                        {% for field in profile_form %}
                            {% if field.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <hr>
                    <form action="." method="POST" enctype="multipart/form-data" id="signup_form">
                        {% csrf_token%}

                        
                        <div class="mb-3">
                            <label for="{{form.email.id_for_label}}" class="form-label text-white">Email:</label>
                            {{form.email}}
                        </div>
                        <div class="mb-3">
                            <label for="{{form.password1.id_for_label}}" class="form-label text-white">Password:</label>
                            {{form.password1}}
                        </div>
                        <div class="mb-3">
                            <label for="{{form.password2.id_for_label}}" class="form-label text-white">Repeat Password:</label>
                            {{form.password2}}
                        </div>
                        <div class="mb-3">
                            <label for="{{profile_form.full_name.id_for_label}}" class="form-label text-white">Full Name:</label>
                            {{profile_form.full_name}}
                        </div>
                        <div class="mb-3">
                            <label for="{{profile_form.picture.id_for_label}}" class="form-label text-white">Profile Photo:</label>
                            {{profile_form.picture}}
                        </div>

                        <!-- {{profile_form.as_p}} -->

                        <button type="submit" class="btn btn-secondary w-100 fw-bold mt-4" id="signup_btn">
                            <span id="signup_btn_text">Send</span>
                            <i class="fa-solid fa-spinner fa-spin text-white d-none" id="signup_spinner"></i>
                        </button>
                    </form>  
                </div>
            </div>
        </div>
        
    </div>
</div>

<script>
    const form = document.querySelector('#signup_form');
    const sellBtn = document.querySelector('#signup_btn');
    const spinner = document.querySelector('#signup_spinner');
    const signupBtnText = document.querySelector('#signup_btn_text');

    form.addEventListener('submit', (e)=>{
        e.preventDefault();

        spinner.classList.remove('d-none');
        signupBtnText.textContent = '';
        sellBtn.style.backgroundColor = 'rgb(46, 18, 114)';
        sellBtn.disabled = true;

        form.submit();
    })
</script>
{% endblock %}