<div class="aside__links">
    <a href="{% url 'account:customer_dashboard' %}" class="active"><i class="fa-solid fa-house"></i>Dashboard</a>
    <a href="{% url 'stock:stock_list' %}"><i class="fa-solid fa-message"></i>Buy/Sell Stock</a>
    <a href="{% url 'account:exchange_view' %}"><i class="fa-solid fa-money-bill-trend-up"></i> Exchange</a>
    <a href="{% url 'account:crypto_wallet_view' %}"><i class="fa-brands fa-bitcoin"></i>Crypto Wallet</a>
    <a href="{% url 'account:list_bank_account' %}"><i class="fa-solid fa-tent-arrow-left-right"></i>Withdraw</a>
    <a href=""><i class="fa-solid fa-chart-line"></i>Analytics</a>
    <a href=""><i class="fa-solid fa-question"></i>Help Center</a>
    <a href=""><i class="fa-solid fa-gear"></i>Settings</a>
</div>

<div class="update__stuff">
    <div class="card border-0 mt-5 bg-light">
        <div class="card-body">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <center>
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </center>
                    <h5>Update Available</h5>
                    <p>Security Updates General Updates</p>
                    <a href="" class="btn w-100">Update Now</a>
                </div>
            </div>
        </div>
    </div>
</div>