{% extends '../base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<div class="container-fluid py-4">
    <!-- <div class="dashboard__header">
        <h4>Dollar Balance: ${{request.user.profile.dollar_balance|intcomma}}</h4>
        <hr class="mt-0 mt-md-2">
    </div> -->
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center">Add New Account</h5>
                    {% include '../includes/alert.html' %}
                    <hr>
                    <form action="." method="POST" id="add_account_form">
                        {% csrf_token %}
                        {{form.as_p}}

                        <button type="submit" class="btn w-100 mt-2" id="add_account_btn">
                            <span class="add_account_btn-text">Save</span>
                            <i class="fa-solid fa-spinner fa-spin text-white d-none" id="add_account_spinner"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const form = document.querySelector('#add_account_form');
    const sellBtn = document.querySelector('#add_account_btn');
    const spinner = document.querySelector('#add_account_spinner');
    const btnText = document.querySelector('.add_account_btn-text');

    form.addEventListener('submit', (e)=>{
        e.preventDefault();

        spinner.classList.remove('d-none');
        btnText.textContent = '';
        sellBtn.style.backgroundColor = 'rgb(46, 18, 114)';
        sellBtn.disabled = true;

        form.submit();
    })
</script>

{% endblock %}