{% extends '../base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<style>
    .modal-content{
        max-width: 400px;
        width: 100%;
    }
</style>

<div class="dashboard__header">
    <h4>Welcome: {{request.user.email}}</h4>
    <hr class="mt-0 mt-md-2">
</div>

<!-- credit cards -->
<div class="credit_cards">
    <div class="my__card">
        <div class="top">
            <div class="left">
                <img src="{% static 'account/images/BTC.png' %}" alt="card1-1">
                <h2>BTC</h2>
            </div>
            <!-- <img src="{% static 'account/images/visa.png' %}" class="right"   alt="card1-2"> -->
        </div>
        <div class="middle">
            <div class="blancc">
                <h1>{{request.user.balance.bitcoin}}</h1>
                <!-- <small class="mb-0 mt-0">0.00001256</small> -->
            </div>
            
            <div class="chip">
              <!-- <img src="{% static 'account/images/card chip.png' %}" class="chip" alt="card-chip"> -->
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <small>Bitcoin Rate</small>
                <h5>1 bitcoin = ${{rates.bitcoin|intcomma}}</h5>
            </div>
            <div class="cvv">
                <small>Balance in $</small>
                <h5>${{btc.bitcoin|intcomma}}</h5>
            </div>
            <!-- <div class="right">
                <div class="expiry">
                    <small>Expiry</small>
                    <h5>06/24</h5>
                </div>
                <div class="cvv">
                    <small>CVV</small>
                    <h5>123</h5>
                </div>
            </div> -->
        </div>
    </div>
    <!-- card 2 -->
    <div class="my__card">
        <div class="top">
            <div class="left">
                <img src="{% static 'account/images/ETH.png' %}" alt="card2-1">
                <h2>ETH</h2>
            </div>
            <!-- <img src="{% static 'account/images/revolute.png' %}" class="right"   alt="card2-2"> -->
        </div>
        <div class="middle">
            <h1>{{request.user.balance.etheriun}}</h1>
            <div class="chip">
                <!-- <img src="{% static 'account/images/card chip.png' %}" class="chip" alt="card-chip"> -->
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <small>Ethereum</small>
                <h5>1 ethereum = ${{rates.ethereum|intcomma}}</h5>
            </div>
            <div class="cvv">
                <small>Balance in $</small>
                <h5>${{eth.ethereum|intcomma}}</h5>
            </div>
            <!-- <div class="right">
                <div class="expiry">
                    <small>Expiry</small>
                    <h5>11/25</h5>
                </div>
                <div class="cvv">
                    <small>CVV</small>
                    <h5>789</h5>
                </div>
            </div> -->
        </div>
    </div>
    <!-- card 3 -->
    <div class="my__card">
        <div class="top">
            <div class="left">
                <img src="{% static 'account/images/USDT.png' %}" alt="card3-1">
                <h2>USDT</h2>
            </div>
            <!-- <img src="{% static 'account/images/master card.png' %}" class="right"   alt="card3-2"> -->
        </div>
        <div class="middle">
            <h1>{{request.user.balance.usdt}}</h1>
            <div class="chip">
                <!-- <img src="{% static 'account/images/card chip.png' %}" class="chip" alt="card-chip"> -->
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <small>USDT RATE</small>
                <h5>1 usdt = ${{rates.tether|intcomma}}</h5>
            </div>
            <div class="cvv">
                <small>Balance in $</small>
                <h5>${{usdt.usdt|intcomma}}</h5>
            </div>
            <!-- <div class="right">
                <div class="expiry">
                    <small>Expiry</small>
                    <h5>05/27</h5>
                </div>
                <div class="cvv">
                    <small>CVV</small>
                    <h5>456</h5>
                </div>
            </div> -->
        </div>
    </div>
</div>

<hr class="mb-0">
<div class="container-fluid">
    <div class="row p-2 mx-1" >
        <div class="col-6">
            <p class="small">Total Balance (USD)</p>
            <h4>${{request.user.profile.dollar_balance|intcomma}}</h4>
        </div>
        <div class="col-6">
            <p class="small">Withdraw Crypto Currency.</p>
            <a 
            href="{% url 'account:withdraw_crypto' %}" class="btn w-100">Withdraw</a>
            <!-- <a data-bs-toggle="modal" data-bs-target="#withdraw_btc" class="btn w-100">Withdraw</a> -->
        </div>
    </div>
</div>
<hr class="my-0">

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="cryptoChart" style="width: 100%; height: 400px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- withdraw modal -->
<div class="modal fade" id="withdraw_btc" tabindex="-1" aria-labelledby="withdraw_btcModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-primary" id="withdraw_btc">Withdraw Crypto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="mb-3">
                    <label for="select-coin" class="form-label">Select Coin</label>
                    <select class="form-select" id="select-coin">
                        <option value="Bitcoin" selected>Bitcoin</option>
                        <option value="Ethereum">Ethereum</option>
                        <option value="USDT">USDT</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="select-coin" class="form-label">Choose Network</label>
                    <select class="form-select" id="select-coin">
                        <option value="Bitcoin">Bitcoin</option>
                        <option value="SegWit" selected>BTC(SegWit)</option>
                        <option value="Lightning">Lightning Network</option>
                        <option value="BEP20">BNB Smart Chain (BEP20)</option>
                        <option value="ERC20">Ethereum (ERC20)</option>
                        <option value="BEP2">BNB Beacon (BEP2)</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="wallet_ad" class="form-label">Wallet Address</label>
                    <input type="text" class="form-control" id="wallet_ad" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount in $</label>
                    <input type="number" class="form-control" id="amount" placeholder="1000">
                </div>

                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-secondary w-100">Continue</button>
                </div>
            </form>
          
        </div>
        
      </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Function to fetch crypto price history and render the graph
        async function fetchAndRenderGraph() {
            try {
                let response = await fetch("{% url 'account:crypto_price_history' %}");
                let data = await response.json();
                console.log("Fetching history from API...");
                renderChart(data);
            } catch (error) {
                console.error('Error fetching crypto price history:', error);
            }
        }

        // Function to render the chart
        function renderChart(data) {
            const ctx = document.getElementById('cryptoChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.timestamps,
                    datasets: [{
                        label: 'Crypto Price (USD)',
                        data: data.prices,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            });
        }

        // Fetch data and render the graph
        fetchAndRenderGraph();
    });
</script>
{% endblock %}