{% extends '../base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<style>
    .wid_card{
        position: relative;
    }
    .process_payment{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #18275a;
        z-index: 1;
        display: none;
        align-items: center;
        justify-content: center;
        color: #fff !important;
        padding-inline: 20px;
    }
</style>

<hr class="mb-0">
<div class="container-fluid">
    <div class="row p-2 mx-1" >
        <div class="col-6 col-sm-4 col-md-3 mb-2 mb-md-0">
            <p class="small">Balance (USD)</p>
            <h4>${{request.user.profile.dollar_balance|intcomma}}</h4>
        </div>
        <div class="col-6 col-sm-4 col-md-3 mb-2 mb-md-0">
            <p class="small">Balance (BITCOIN)</p>
            <h4>{{request.user.balance.bitcoin}}</h4>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <p class="small">Balance (ETH)</p>
            <h4>{{request.user.balance.etheriun}}</h4>
        </div>
        <div class="col-6 col-sm-4 col-md-3">
            <p class="small">Balance (USDT)</p>
            <h4>${{request.user.balance.usdt|intcomma}}</h4>
        </div>
    </div>
</div>
<hr class="my-0">
<div class="container">
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-md-7">
            <div class="card wid_card">
                <div class="process_payment" id="process_payment">
                    <div class="initial" id="initial">
                        <div class="spinner-border ms-5" style="width: 4rem; height: 4rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="spinner_talk fw-bold mt-2 text-center">Initializing........... <span id="spinner_percent">0%</span></p>
                    </div>
                    <div class="processing" style="display: none;">
                        <div class="spinner-grow ms-3" style="width: 4rem; height: 4rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="spinner_talk fw-bold mt-2 text-center">Processing..</p>
                    </div>
                    <div class="completed" style="display: none;">
                        <i class="fa-regular fa-circle-check ms-5" style="font-size: 74px; color: rgb(255, 255, 255);"></i>
                        <p class="spinner_talk fw-bold mt-2 text-center">Completed successfully</p>
                        <a href="{% url 'account:crypto_wallet_view' %}" class="btn w-100">Finish</a>
                    </div>
                    <div class="insufficient" style="display: none; padding-inline: 10px;">
                        <p class="insu_error text-center text-danger"></p>
                        <a href="{% url 'account:withdraw_crypto' %}" class="btn w-100">Try Again</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="text-center">
                        Withdraw
                    </h5>
                    <hr>
                    <form action="" id="withdraw-form" method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="select-coin" class="form-label">Select Coin</label>
                            <select class="form-select" name="select-coin" id="select-coin">
                                {% for crypto, rate in rates.items %}
                                    <option value="{{ crypto }}">
                                        {% if crypto == 'tetherusdt' %}
                                            tether(usdt)
                                        {% else %}
                                            {{ crypto }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="select-coin" class="form-label">Choose Network</label>
                            <select class="form-select" name="select-network" id="select-network">
                                <option value="Bitcoin">Bitcoin</option>
                                <option value="SegWit" selected>BTC(SegWit)</option>
                                <option value="Lightning">Lightning Network</option>
                                <option value="BEP20">BNB Smart Chain (BEP20)</option>
                                <option value="ERC20">Ethereum (ERC20)</option>
                                <option value="BEP2">BNB Beacon (BEP2)</option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <label for="wallet_ad" class="form-label">Wallet Address</label>
                            <input type="text" name="wallet_id" class="form-control" id="wallet_ad" required>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount in $</label>
                            <input type="number" name="amount" class="form-control" id="amount" placeholder="1000" required>
                        </div>
                        <div class="mb-3">
                            <label for="crypto" class="form-label">Amount in crypto - (readonly)</label>
                            <input type="text" name="crypto" class="form-control" id="crypto" readonly required>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                            <button type="submit" class="btn btn-secondary w-100">Withdraw</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    const form = document.querySelector('#withdraw-form')
    let spinner = document.getElementById('process_payment');
    let initialSpin = document.querySelector('#initial')
    let processSpin = document.querySelector('.processing')
    let completedSpin = document.querySelector('.completed')
    let insufficient = document.querySelector('.insufficient')

    form.addEventListener('submit', function(event) {
            event.preventDefault();
            startFetching(); 
        });


    var typingTimer; // Timer identifier
    var doneTypingInterval = 500; // Time in milliseconds (1 second)

    // Function to handle input change
    function handleInputChange() {
        clearTimeout(typingTimer); // Clear the previous timer

        typingTimer = setTimeout(convertToCrypto, doneTypingInterval);
    }

    // Function to convert USD to Crypto
    function convertToCrypto() {
        // Get the input elements
        var dollarInput = document.getElementById('amount');
        var cryptoInput = document.getElementById('crypto');
        var selectedCrypto = document.getElementById('select-coin').value;

        var rates = {
            {% for crypto, rate in rates.items %}
                {% if crypto == 'tetherusdt' %}
                    'tetherusdt': {{ rate }},
                {% else %}
                    '{{ crypto }}': {{ rate }},
                {% endif %}
            {% endfor %}
        };

        var cryptoRate = parseFloat(rates[selectedCrypto]); // Get the rate for the selected cryptocurrency

        // Get the value entered in dollars
        var dollarAmount = parseFloat(dollarInput.value);

        // Assume 1 USD = 0.001 BTC for simplicity (replace with actual conversion rate)
        var cryptoAmount = dollarAmount / cryptoRate; // Conversion rate example (modify as needed)

        // Update the crypto input field with the calculated amount
        cryptoInput.value = cryptoAmount.toFixed(9); // Adjust decimal places as needed
    }

    // Attach event listener to dollarAmount input for 'input' event
    var dollarInput = document.getElementById('amount');
    dollarInput.addEventListener('input', handleInputChange);

    function submitDataToDjango() {
        var formData = new FormData(form);

        fetch("{% url 'account:withdraw_crypto' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(formData))
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.insuff) {
                let insuError = document.querySelector('.insu_error');
                let errMessage = `Insufficient Balance: Your ${data.select_coin} balance is below the amount you are trying to withdraw, please check your balance and try again.`;

                // show error
                insuError.textContent = errMessage
                
                processSpin.style.display = 'none';
                insufficient.style.display = 'block';

                form.reset();
                
                // Handle insufficient balance error
                // console.log('Insufficient balance:', data.insuff); 
            } else {
                // console.log('Success:', data);
                processSpin.style.display = 'none';
                completedSpin.style.display = 'block';
                form.reset();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


    // Function to show spinner and start fetching data
    function startFetching() {
        spinner.style.display = 'flex';
        

        var counterElement = document.getElementById('spinner_percent');
        var count = 1;
        var interval = setInterval(function() {
            counterElement.textContent = count + '%';
            count++;
            if (count > 100) {
                clearInterval(interval);
                showStartFetching(); 
            }
        }, 50); 
    }

    //function to show second blink spinner
    function showStartFetching(){
        initialSpin.style.display = 'none';
        processSpin.style.display = 'block';
        var count = 1;
        var interval = setInterval(function() {
            count++;
            if (count > 100) {
                clearInterval(interval);
                submitDataToDjango(); 
            }
        }, 10);
    }

    
</script>

{% endblock %}